.product-carousel-item img {
  height: auto;
  width: 180px !important;
  margin: 0 auto;
}
.owl-carousel.owl-theme.product-carousel.owl-loaded.owl-drag {
  margin-top: 30px;
  margin-bottom: 90px;
}
.margin-none-top {
  margin-top: 30px !important;
}
.product-carousel-item h4 {
  text-align: center;
  font-weight: 600;
  color: #2A2F35;
  margin-bottom: 0 !important;
}
.product-carousel-item {
  border: 1px solid #eeeeeea1;
  padding: 20px 0 !important;
}
.header-top-text {
  font-size: 19px;
  font-weight: 600;
  color: #63a468;
}
h1#slide-9-layer-1 {
  margin-top: -33px !important;
}

@media screen and (max-width: 500px) {
  .product-carousel-item img {
      width: 80px !important;
  }
  h1#slide-9-layer-1 {
    margin-top: 60px !important;
  }
}
@media screen and (max-width: 360px) {
  .product-carousel-item h4 {
    margin-top: 10px !important;
    font-size: 13px;
  }
  .product-carousel-item img {
    width: 70px !important;
  }
}